* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 100px;
}

.container {
  display: flex;
  /* justify-content: space-between; */
}

.box {
  flex-grow: 1;
}

.red {
  width: 100px;
  height: 100px;
  background: red;
}

.green {
  width: 100px;
  height: 100px;
  background: lightgreen;
  flex-grow: 5;
}

.coral {
  width: 100px;
  height: 100px;
  background: coral;
}

.blue {
  width: 100px;
  height: 100px;
  background: blue;
}
