.kakao-list li img {
  vertical-align: middle;
  margin-right: 10px;

  border-radius: 15px;
}

.kakao-list li {
  margin-top: 15px;
}

.kakao-list li a {
  display: block;
  padding-left: 20px;
}

.kakao-info {
  display: inline-block;
  vertical-align: middle;

  color: black;
}

.kakao-info h3 {
  font-size: 18px;
  margin: 0;
}

.kakao-info span {
  font-size: 14px;
  color: #c8c8c8;
}
