html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ====================== CONTENT ====================== */
body {
  background: #f7f9fc;
  font-family: -apple-system, sans-serif;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 50px auto;
}

/* ====================== Profile ====================== */
.profile-container {
  display: flex;
  justify-content: center;
  padding: 40px 60px;
  background: #fff;
  border-radius: 20px;
}

.profile-left {
  display: flex;
  width: 75%;
  border-right: 1px solid #a3c4e4d0;
  margin-right: 40px;
}

.profile-left img {
  border-radius: 50%;
  margin-right: 50px;
}

.my-info {
  padding: 20px 0;
}

.my-info h1 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 15px;
}

.my-info h2 {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.my-info p {
  color: #6fbaf8;
  font-size: 14px;
  margin-bottom: 10px;
}

.my-info button {
  padding: 8px 25px;
  background: #6fbaf8;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.profile-right div {
  display: flex;
  justify-content: space-between;
}

.profile-right div p {
  font-size: 14px;
  margin: 10px 0;
}

.profile-right div p:first-child {
  font-weight: 600;
  margin-right: 100px;
}
